*/ 

/* Container should take up the full height */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* Each section should take up the full viewport height */
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Horizontal scrolling sections should also have full viewport height */
.horizontal {
  display: flex;
  justify-content: center;
  overflow-x: scroll; /* Enable horizontal scrolling */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}

/* Each slide inside the horizontal scrolling section should take full width of the viewport */
.horizontal > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Custom scrollbar styling for horizontal scrollbar only */
.horizontal::-webkit-scrollbar {
  height: 12px; /* Height for horizontal scrollbar */
  width: 0; /* Hide vertical scrollbar width */
}

.horizontal::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 6px;
}

.horizontal::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 6px;
}

.horizontal::-webkit-scrollbar-thumb:hover {
  background: darkred; /* Darker green on hover */
}

/* Reset global scrollbar to default */
::-webkit-scrollbar {
  width: auto; /* Default width for vertical scrollbars */
  height: auto; /* Default height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: auto; /* Default track color */
}

::-webkit-scrollbar-thumb {
  background: auto; /* Default thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: auto; /* Default hover color */
}

body,
html {
  background-color: #eae7e0;
}
